.carousel{
    display: flex;
    background-color: #eeeeee;
    margin: 200px auto;
    font-size: 0;
    padding: 5% 1%;
}
.carousel .wrapper{
    overflow: hidden;
}
.carousel .slides{
    margin: 0;
    padding: 0;
    position: relative;
    left: -33.333%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    transform: translateX(33.3333%);
}
.carousel .reversed{
    transform: translateX(-33.33%);
}
.carousel .transitioned{
    transform: none;
    transition: transform 0.3s  ease;
}
.carousel .slide {
    padding:1% 0.5%;
    flex-shrink: 0;
    flex-basis: 33.33%;
    order: 2;
}
.carousel  .marker{
    order: 1;
}
.carousel .slide img{
    width: 100%;
    max-width: 100%;
}
.carousel .arrow{
    font-size: 50px;
    align-self: center;
}
.carousel .arrow:hover{
    cursor: pointer;
}